$fontPrimary: #000000;
$negativeNumber: #FF0000;

//#05743e 35%
$backgroundPrimary: rgba(5, 116, 62, 0.35);
$backgroundSecondary: #ADE8F4;

$fontButton: #ffffff;
$backgroundButton: #03045E;

//571089
$fieldPrimary: rgba(87, 16, 137, 0.25);
$fieldSecondary: rgba(5, 116, 62, 0.35);
$fieldTertiary: rgba(87, 16, 137, 0.20);

