@use './colors';
@use './topography';

$mobileMaxSize: 47.5rem;
$tabletSize: 48rem;
$desktopSize: 80rem;

@mixin belowTablet {
    @media (max-width: $mobileMaxSize) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tabletSize) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopSize) {
        @content;
    }
}

@mixin headingStyles {
    display: flex;
    justify-content: space-evenly;
    background-color: colors.$fieldSecondary;
    border-radius: 20px;
    font-weight: bold;
    margin: 0rem 0.75rem 0.75rem 0.5rem;

    border: 2px solid colors.$boundarySecondary;
    border-radius: 10px;
    box-shadow: 1px 1px 4px colors.$boundaryPrimary;
}

@mixin contentStyle {
    font-size: 0.6rem;
    border-right: 1px solid white;
    margin:0.25rem 0rem;
    padding: 0rem 0.25rem;
    text-overflow: wrap;
    text-align: center;
    text-justify: center;
}

@mixin contentContainer {
    background-color: colors.$fieldPrimary;
    border-radius: 0px;
    font-weight: normal;
}

@mixin inputFields {
    background-color: colors.$fieldPrimary;
    color: colors.$fontPrimary;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0,0,0,0.4);
    font-family: topography.$primaryFont;
}

//common styles for navigation icons
@mixin navigationIcons {
    height:2rem;
    padding: 6px;
    margin: 6px;
        
    border: 2px solid colors.$boundarySecondary;
    border-radius: 10px;
    box-shadow: 2px 2px 4px colors.$boundaryPrimary;
}

//common style for hover state for navigation icons
@mixin navigationIconHover {
    box-shadow: 4px 4px 4px colors.$boundaryTertiary inset;
}

//common styles for navigation links
@mixin navigationLinks {
    color: colors.$fontPrimary;
    background-color: colors.$backgroundPrimary;
    text-decoration: none;
    position: absolute;
    top: 80%;
    left: 0%;
    display: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 6px 6px 6px 0px;
    padding: 6px 1rem;
    width: 6rem;
    text-align: center;

    border: 2px solid colors.$boundarySecondary;
    border-radius: 10px;
    box-shadow: 2px 2px 4px colors.$boundaryPrimary;
}