@use './partials/colors';
@use './partials//topography';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
    font-family: topography.$primaryFont;
    color: colors.$fontPrimary;
    font-weight: topography.$weightNormal;
    margin: 0%;
    background-color: colors.$backgroundPrimary;
}

header {
    width: 95vw;
    max-width: 47.5rem;
    border-radius: 30px;
    margin: 1rem 2.5vw;
    height: fit-content;
}

main {
    background-color: colors.$backgroundPrimary;
    width: 95vw;
    max-width: 47.5rem;
    border-radius: 30px;
    margin: 6rem 2.5vw;
    height: fit-content;
    min-height: 20rem;
}

h1 {
    font-family: topography.$headingFont;
    font-weight: topography.$weightNormal;
    display: inline-block;
    font-size: 1.5rem;
}

h2 {
    padding-top: 1rem;
    text-align: center;
    margin-top: 0rem;
}

.main-heading {
    margin: 0.5rem;
    display: block;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section-container {
    padding: 2rem 1rem;
    margin: 1rem;
    border: 2px solid colors.$boundarySecondary;
    border-radius: 10px;
    box-shadow: 2px 2px 4px colors.$boundaryPrimary;
}

.validation-message {
    border: 2px solid colors.$boundarySecondary;
    border-radius: 10px;
    box-shadow: 2px 2px 4px colors.$boundaryPrimary;
    padding: 6px;
    display: inline-block;
    margin: 1rem;
}

.credits-page {
    &__icons {
        height: 1.5rem;
        padding-right: 0.5rem;
    }

    &__para {
        display: inline-block;
        font-size: 0.7rem;
    }

    &__links {
        color:colors.$fontPrimary;
    }
}

.aboutus-page {
    &__links {
        color:colors.$fontPrimary;
    }
}

.login-links {
    color:colors.$fontPrimary;
}