@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
@use '../../styles/partials/topography';

.input {

    &__container {
        margin: 0.5rem 0rem;

        @include mixins.tablet {
            margin: 1rem 0rem;
        }
    }

    &__label {
        margin-left: 0.75rem;
        font-size: 1rem;

        @include mixins.tablet {
            font-size: 1.5rem;
        }
    }

    &__field {
        display: block;
        margin-left: 0.75rem;
        padding: 0.5rem 1rem;

        @include mixins.inputFields;
    }
}

.mini-input {
    
    &__contianer {
        display: flex;
    }
    &__label {
        display: inline-block;
        font-size: 0.75rem;
        font-family: topography.$primaryFont;

        @include mixins.tablet {
            font-size: 1.5rem;
        }
    }
    &__field {
        display: inline-block;
        @include mixins.inputFields;
        padding: 0rem 0.5rem;
        margin: 0rem 0.5rem;
        width: 3rem;

        @include mixins.tablet {
            padding: 0rem 1rem 0.25rem 1rem;
            width:5rem;
        }
    }

    &--width {
        width: 5.5rem;

        @include mixins.tablet {
            width: fit-content;
        }
    }
}