@use '../../styles/partials/colors';
@use '../../styles//partials//mixins';

.heading {
    margin: 0%;
    position: fixed;
    top: 0%;
    width: 100vw;
    background-color: colors.$backgroundPrimary;
    
    &:hover .navigation {
        display: initial;
    }

    &__icon {
        @include mixins.navigationIcons;
        z-index: 1;
    }
}

.navigation {
    position: fixed;
    top: 0%;
    left: 3rem;
    display: none;

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0%;
        margin: 0%;
    }
}