@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.balances-container {

    width: fit-content;
    margin-bottom: 0.5rem;
    
    font-size: 0.75rem;
    &__content {
        margin: 0%;
        position: relative;
    }

    &__amount {
        position: absolute;
        right: 1rem;    
    }
    
    &--total {
        margin-left: 2rem;
    }
}