@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.single-transaction {
    &__container {
        display: none;

        @include mixins.desktop {
            display: initial;
            @include mixins.headingStyles;
        }
    }

    &__text {
        width: 15%;
        text-align: center;
        border-right: 1px solid white;
        padding: 0.5rem;

        &--long {
            width: 30%;
            border: none;
        }
    }
}